# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/main" # use "db" inside docker and "localhost" when running locally

# Auth
BETTER_AUTH_SECRET="replace-with-a-32-char-minimum-secret"
BETTER_AUTH_URL="http://localhost:3000"

# Email
RESEND_API_KEY="re_123"

# OTEL
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://localhost:4318/v1/logs
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://localhost:4318/v1/metrics
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
OTEL_EXPORTER_OTLP_TRACES_PROTOCOL=http/protobuf
# OTEL_EXPORTER_OTLP_HEADERS="Authorization=Bearer <bearer_token>"
# OTEL_LOG_LEVEL=debug
OTEL_TRACES_SAMPLER=parentbased_traceidratio # se il parent è sampled → eredita
OTEL_TRACES_SAMPLER_ARG=0.05 # base: 5% di traffico normale
# NEXT_OTEL_VERBOSE=1
# NODE_EXTRA_CA_CERTS="ca.crt"
# NODE_TLS_REJECT_UNAUTHORIZED="0"
